
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GotNote | <%= title %></title>
    <link rel="stylesheet" href="/style.css">
        <!-- Site Icons -->
        <link rel="shortcut icon" href="../images/notes.png" type="image/x-icon" />
        <link rel="apple-touch-icon" href="#" />
 
  </head>