<nav>
<div class ='site-title'>
    <a class='Heading' href='/'>GotNote</a>
    <p>Organize Your Tasks</p>
</div>

<ul>
    <li><a href='/blogs/<%=key%>'>Index</a></li>
   
    <li><a href='/blogs/create/<%=key%>'>New Blog</a></li>
    <li><a href='/register'>Home</a></li>

</ul>
</nav>