<html>

<!-- Head Partial-->
<%- include("./partials/head.ejs") %>


    <body>


           <!-- nav partial     REMOVING THE NAV EJS AND CANT HAVE KEY HERE-->

           <nav>
            <div class ='site-title'>
                <a class='Heading' href= '/'>GotNote</a>
                <p>Organize Your Tasks</p>
            </div>
            
            <ul>
                
                <li><a href='/about'>About</a></li>
                <li><a href='/register'>Register</a></li>
                <li><a href='/login'>Login</a></li>
            
            </ul>
            </nav>

    <div class = "About">
        A simple place to organize your thoughts <br>
        We know there are better apps out there  <br>
        <br>
        <br>
        We will get there someday


    </div>


     <!-- Footer Partial-->
<%- include("./partials/footer.ejs") %>   
 
    </body>
</html>