<html>

<!-- Head Partial-->
<%- include("./partials/head.ejs") %>

            <!-- nav partial REMOVING NAV HERE AS DONT NEED KEY HERE-->

            <nav>
                <div class ='site-title'>
                    <a href='/'>Blog Ninjas</a>
                    <p>A net Ninjas Site</p>
                </div>
                
                <ul>
                    
                    <li><a href='/about'>About</a></li>
                    <li><a href='/register'>Register</a></li>
                    <li><a href='/login'>Login</a></li>
                
                </ul>
                </nav>

    <div class = "Error">
        Oops Page not found

    </div>

 <!-- Footer Partial-->
<%- include("./partials/footer.ejs") %>   
 
    </body>
</html>